/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */

header {
    background-color: #0084fd;
    margin-bottom: 30px;
}

section {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

nav {
    display: none;
}

header ul {
    list-style-type: none;
}

header ul li {
    padding-right: 10px;
}

.jumbotron .col {
    height: 300px;
    background-color: #b5ddff;
    border-radius: 20px;
}

.jumbotron .col:last-child {
    margin-bottom: 50px;
}

.planning .container {
    padding: 50px 0;
}

.planning .col {
    width: 100%;
    height: 600px;
}

.planning .col:last-child {
    background-color: #fff;
    border-radius: 20px;
}

.testimonials .col {
    width: 100%;
    height: 300px;
    background-color: #9792e4;
    border-radius: 20px;
}

.testimonials .col:first-child {
    width: 100%;
    height: 300px;
    background-color: transparent;
    border-radius: 0;
}

.testimonials {
    margin: 40px 0;
}


/* Utility */

.justify-between {
    justify-content: space-between;
}

.col {
    width: 100%;
    margin: 10px 30px;
}


.bg-lilac {
    width: 100%;
    background-color: #9792e4;
}


/* Responsive */

@media screen and (min-width:480px) {

    .col {
        width: calc(100% / 3 - 20px);
        margin: 10px 10px;
    }

    .jumbotron .col:first-child {
        width: calc(100% / 3 * 2 - 20px)
    }

    .jumbotron {
        margin: 0 20px;
    }




}

@media screen and (min-width:768px) {
    nav {
        display: block;
    }

    .burger {
        display: none;
    }

    .container {
        max-width: 1160px;
        margin: 0 auto;
    }

    .planning .col {
        width: 50%;
        margin: 0 auto;
    }
}